<div class="col-lg-9">
    <div class="row g-4" id="venuesGrid">
        <!-- Venue Card 1 -->
        @await Html.PartialAsync("_VenueCard")

        <!-- Venue Card 2 -->
        @await Html.PartialAsync("_VenueCard")

        <!-- Venue Card 3 -->
        @await Html.PartialAsync("_VenueCard")
        
        <!-- Venue Card 1 -->
        @await Html.PartialAsync("_VenueCard")

        <!-- Venue Card 2 -->
        @await Html.PartialAsync("_VenueCard")

        <!-- Venue Card 3 -->
        @await Html.PartialAsync("_VenueCard") 
        
        <!-- Venue Card 1 -->
        @await Html.PartialAsync("_VenueCard")

        <!-- Venue Card 2 -->
        @await Html.PartialAsync("_VenueCard")

        <!-- Venue Card 3 -->
        @await Html.PartialAsync("_VenueCard")
    </div>
</div>