<div class="col-lg-9">
    <div class="row g-4">
        <!-- Event Card 1 -->
        @await Html.PartialAsync("_EventCard")

        <!-- Event Card 2 -->
        @await Html.PartialAsync("_EventCard")

        <!-- Event Card 1 -->
        @await Html.PartialAsync("_EventCard")

        <!-- Event Card 2 -->
        @await Html.PartialAsync("_EventCard")

        <!-- Event Card 1 -->
        @await Html.PartialAsync("_EventCard")

        <!-- Event Card 2 -->
        @await Html.PartialAsync("_EventCard")

        <!-- Event Card 1 -->
        @await Html.PartialAsync("_EventCard")

        <!-- Event Card 2 -->
        @await Html.PartialAsync("_EventCard")

        <!-- Event Card 1 -->
        @await Html.PartialAsync("_EventCard")
    </div>
</div>